@charset "utf-8";

.alpha-debug-block{
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid #CCCCCC;
    display: block;
    margin: 0 0 10px;
    padding: 9px 12px;
}
.alpha-debug-block h2{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    color: #888888;
    font-weight: normal;
}
