<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
<head>
    <meta name="" content="" />
    <meta content="IE=edge,chrome=1; text/html; charset=utf-8" http-equiv="Content-Type">
    <title></title>

    <!-- ******************************
        INCLUDE CSS FILES BY DEFAULT DRUPAL. !IMPORTANT: DELETE THIS LINE AND THE SOURCE FILE OR FOLDER FROM THE THEME
    ******************************* -->
    <link media="all" rel="stylesheet" type="text/css" href="../css/drupal-css/import.css">

    <!-- ******************************
        INCLUDE CSS FILES BY DEFAULT OMEGA THEME. !IMPORTANT: DELETE THIS LINE AND THE SOURCE FILE OR FOLDER FROM THE THEME
    ******************************* -->
    <link media="all" rel="stylesheet" type="text/css" href="../css/omega-css/import-24.css">

    <!-- ******************************
        INCLUDE CSS FILES BY DEFAULT OMEGA THEME RESPONSIVE. !IMPORTANT: DELETE THIS LINE FROM THE THEME
    ******************************* -->
    <link media='all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape)' href='../css/omega-css/default/alpha-default-narrow-24.css' rel="stylesheet" type="text/css" />
    <link media='all and (min-width: 740px) and (min-device-width: 740px), (max-device-width: 800px) and (min-width: 740px) and (orientation:landscape)' href='../css/serijakala-alpha-default-narrow.css' rel="stylesheet" type="text/css" />

    <link media='all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape)' href='../css/omega-css/default/alpha-default-normal-24.css' rel="stylesheet" type="text/css" />
    <link media='all and (min-width: 980px) and (min-device-width: 980px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation:landscape)' href='../css/serijakala-alpha-default-normal.css' rel="stylesheet" type="text/css" />

    <link media='all and (min-width: 1220px)' href='../css/omega-css/default/alpha-default-wide-24.css' rel="stylesheet" type="text/css" />
    <link media='all and (min-width: 1220px)' href='../css/serijakala-alpha-default-wide.css' rel="stylesheet" type="text/css" />

    <link media='all and (min-width: 740px)' href='../css/serijakala-alpha-default.css' rel="stylesheet" type="text/css" />

    <!-- ******************************
        INCLUDE css Libraries
    ******************************* -->

    <!-- ******************************
        INCLUDE THE COMPILED FILES /less or /sass
    ******************************* -->
    <link rel="stylesheet" type="text/css" href="../libraries/developer/developer.css">

    <!-- ******************************
        INCLUDE THE GLOBAL CSS CUSTOM
    ******************************* -->
    <link rel="stylesheet" type="text/css" href="../css/global.css">

    <!-- ******************************
        IE INCLUDE THE JS FILE OPTIMIZATION TO IE
    ******************************* -->
    <!--[if lte IE 9]><script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
    <!--[if lte IE 9]><script type="text/javascript" src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!--[if lte IE 9]><script type="text/javascript" src="https://cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js"></script><![endif]-->

</head>
<body class="html front not-logged-in page-node page-node- page-node-1 node-type-page">
<div id="page" class="page clearfix">

    <header id="section-header" class="section section-header">

        <div id="zone-user-wrapper" class="zone-wrapper zone-user-wrapper clearfix">
            <div id="zone-user" class="zone zone-user clearfix container-24">

                <div id="region-user-first" class="grid-18 region region-user-first">
                    <div class="region-inner region-user-first-inner">

                        <div class="alpha-debug-block">
                            <h2>User Fisrt</h2>
                        </div>

                    </div>
                </div><!-- region-user-first -->

                <div id="region-user-second" class="grid-6 region region-user-second">
                    <div class="region-inner region-user-second-inner">

                        <div class="alpha-debug-block">
                            <h2>User Second</h2>
                        </div>

                    </div>
                </div><!-- region-user-second -->

            </div><!-- zone-user -->
        </div><!-- zone-user-wrapper -->

        <div id="zone-branding-wrapper" class="zone-wrapper zone-branding-wrapper clearfix">
            <div id="zone-branding" class="zone zone-branding clearfix container-24">

                <div id="region-branding" class="grid-24 region region-branding">
                    <div class="region-inner region-branding-inner">

                        <div class="alpha-debug-block">
                            <h2>Branding</h2>
                        </div>

                    </div>
                </div><!-- region-branding -->

            </div><!-- zone-branding -->
        </div><!-- zone-branding-wrapper -->

        <div id="zone-menu-wrapper" class="zone-wrapper zone-menu-wrapper clearfix">
            <div id="zone-menu" class="zone zone-menu clearfix container-24">

                <div id="region-menu" class="grid-24 region region-menu">
                    <div class="region-inner region-menu-inner">

                        <div class="alpha-debug-block">
                            <h2>Menu</h2>
                        </div>

                    </div>
                </div><!-- region-menu -->

            </div><!-- zone-menu -->
        </div><!-- zone-menu-wrapper -->

        <div id="zone-header-wrapper" class="zone-wrapper zone-header-wrapper clearfix">
            <div id="zone-header" class="zone zone-header clearfix container-24">

                <div id="region-header-first" class="grid-12 region region-header-first">
                    <div class="region-inner region-header-first-inner">

                        <div class="alpha-debug-block">
                            <h2>Header First</h2>
                        </div>

                    </div>
                </div><!-- region-header-first -->

                <div id="region-header-second" class="grid-12 region region-header-second">
                    <div class="region-inner region-header-second-inner">

                        <div class="alpha-debug-block">
                            <h2>Header Second</h2>
                        </div>

                    </div>
                </div><!-- region-header-second -->

            </div><!-- zone-header -->
        </div><!-- zone-header-wrapper -->

    </header>

    <section id="section-content" class="section section-content">

        <div id="zone-preface-wrapper" class="zone-wrapper zone-preface-wrapper clearfix">
            <div id="zone-preface" class="zone zone-preface clearfix container-24">

                <div id="region-preface-first" class="grid-8 region region-preface-first">
                    <div class="region-inner region-preface-first-inner">

                        <div class="alpha-debug-block">
                            <h2>Preface firts</h2>
                        </div>

                    </div>
                </div><!-- region-preface-first -->

                <div id="region-preface-second" class="grid-8 region region-preface-second">
                    <div class="region-inner region-preface-second-inner">

                        <div class="alpha-debug-block">
                            <h2>Preface second</h2>
                        </div>

                    </div>
                </div><!-- region-preface-second -->

                <div id="region-preface-third" class="grid-8 region region-preface-third">
                    <div class="region-inner region-preface-third-inner">

                        <div class="alpha-debug-block">
                            <h2>Preface third</h2>
                        </div>

                    </div>
                </div><!-- region-preface-third -->

            </div><!-- zone-preface -->
        </div><!-- zone-preface-wrapper -->

        <div id="zone-content-wrapper" class="zone-wrapper zone-content-wrapper clearfix">
            <div id="zone-content" class="zone zone-content clearfix container-24">

                <aside id="region-sidebar-first" class="grid-6 region region-sidebar-first">
                    <div class="region-inner region-sidebar-first-inner">

                        <div class="alpha-debug-block">
                            <h2>Sidebar First</h2>
                        </div>

                    </div>
                </aside><!-- region-sidebar-first -->

                <div id="region-content" class="grid-12 region region-content">
                    <div class="region-inner region-content-inner">

                        <div class="alpha-debug-block">
                            <h2>Content</h2>
                        </div>

                    </div>
                </div><!-- region-content -->

                <aside id="region-sidebar-second" class="grid-6 region region-sidebar-second">
                    <div class="region-inner region-sidebar-second-inner">

                        <div class="alpha-debug-block">
                            <h2>Sidebar second</h2>
                        </div>

                    </div>
                </aside><!-- region-sidebar-second -->

            </div><!-- zone-content -->
        </div><!-- zone-content-wrapper -->

        <div id="zone-postscript-wrapper" class="zone-wrapper zone-postscript-wrapper clearfix">
            <div id="zone-postscript" class="zone zone-postscript clearfix container-24">

                <div id="region-postscript-first" class="grid-6 region region-postscript-first">
                    <div class="region-inner region-postscript-first-inner">

                        <div class="alpha-debug-block">
                            <h2>Postscript first</h2>
                        </div>

                    </div>
                </div><!-- region-postscript-first -->

                <div id="region-postscript-second" class="grid-6 region region-postscript-second">
                    <div class="region-inner region-postscript-second-inner">

                        <div class="alpha-debug-block">
                            <h2>Postscript second</h2>
                        </div>

                    </div>
                </div><!-- region-postscript-second -->

                <div id="region-postscript-third" class="grid-6 region region-postscript-third">
                    <div class="region-inner region-postscript-third-inner">

                        <div class="alpha-debug-block">
                            <h2>Postscript third</h2>
                        </div>

                    </div>
                </div><!-- region-postscript-third -->

                <div id="region-postscript-fourth" class="grid-6 region region-postscript-fourth">
                    <div class="region-inner region-postscript-fourth-inner">

                        <div class="alpha-debug-block">
                            <h2>Postscript fourth</h2>
                        </div>

                    </div>
                </div><!-- region-postscript-fourth -->

            </div><!-- zone-postscript -->
        </div><!-- zone-postscript-wrapper -->

    </section><!-- section content -->

    <footer id="section-footer" class="section section-footer">

        <div id="zone-footer-wrapper" class="zone-wrapper zone-footer-wrapper clearfix">
            <div id="zone-footer" class="zone zone-footer clearfix container-24">

                <div id="region-footer-first" class="grid-24 region region-footer-first">
                    <div class="region-inner region-footer-first-inner">

                        <div class="alpha-debug-block">
                            <h2>Footer first</h2>
                        </div>

                    </div>
                </div><!-- region-footer-first -->

                <div id="region-footer-second" class="grid-24 region region-footer-second">
                    <div class="region-inner region-footer-second-inner">

                        <div class="alpha-debug-block">
                            <h2>Footer second</h2>
                        </div>

                    </div>
                </div><!-- region-footer-second -->

            </div><!-- zone-footer -->
        </div><!-- zone-footer-wrapper -->

    </footer><!-- footer -->

</div><!-- page -->

<!-- ******************************
    INCLUDE JQUERY UPDATE 1.11.2 (Module Drupal). !IMPORTANT: DELETE THIS LINE FROM THE THEME DRUPAL
******************************* -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1.11.2/jquery.min.js"></script>

<!-- ******************************
    INCLUDE js Libraries
******************************* -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/detectizr/2.2.0/detectizr.min.js"></script>

<!-- ******************************
    INCLUDE THE JS CUSTOM
******************************* -->
<script type="text/javascript" src="../js/custom.js"></script>

</body>
</html>